<!DOCTYPE html>
<html>
<head>
  <title>Wisdom</title>
  <%= stylesheet_link_tag    "wisdom/application", :media => "all" %>
  <%= javascript_include_tag "wisdom/application" %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".sidemenu" data-offset='20'>
  <div class='container wisdom'>

  <%= yield %>

  </div>

</body>
</html>
