<div class ='row'>
  <div class='span8'>
    <%= render 'topic', topic: @topic %>
  </div>
  <div class='span4'>
    <div class='well'>
      <ul class='unstyled sortable' data-url="<%= reorder_topic_questions_path(@topic)%>">
        <% @topic.questions.each do |q| %>
          <li class='sortableItem' data-item-id="<%= q.id %>">
            <i class='icon-align-justify icon-reorder'></i> 
            <%= q.title %>
          </li>
        <% end %>
      </ul>
    </ul>
  </div>
</div>
